.palavradestacada1{
    color: cornflowerblue;
}
.nome{
    background-color:beige ;
    color: cornflowerblue;
    font-size: 30px;
}
.subtitulo{
    background-color:beige ;
    color: cornflowerblue;
}
.habilidades{
    background-color:beige ;
    color: cornflowerblue;
}


